@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.navbar {
    padding: 0;
}


a.nav-link {
    transition: 0.3s ease-in;
    padding: 1rem !important;
}

a.nav-link:hover {
    background-color: #e69500;
}
.list-bom li, 
.list-dom li {
    list-style: none;
    
}
.list-bom a {
    text-decoration: none;
}
.list-bom li::before,
.list-dom li::before {
    content: '- '
}

.clock {
    font-family: 'Orbitron';
    font-size: 4rem;
    color: dodgerblue
}